@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    height: 100vh;
}

.main {
    border: 2px solid red;
}

.mt-10{
    margin-top: 7rem;
}

.modal-body::-webkit-scrollbar { width: 0 !important }

/* EADFB4
9BB0C1
51829B
F6995C */